.banner {

}

.banner__top {
  min-height: 462px;
  content: "";
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-color: @color-main;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  margin-top: -66px;
  display: flex;
  box-sizing: border-box;

  &_inner {
    min-height: 237px;
  }
}

.banner__title {
  padding: 66px 20px 0;
  display: flex;
}
