.button {
  display: block;
  padding: 0 15px;
  cursor: pointer;
  transition: @transition;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;

  &_brand {
    color: @color-fourth;
    border: 3px solid @color-fourth;
  }

  &_brand:hover,
  &_brand:focus {
    color: @color-text-second;
    background-color: @color-fourth;
  }

  &_brand:active {
    color: @color-silver-fourth;
  }


  &_first {
    color: @color-text-second;
    border: 3px solid @color-second;

    @media (min-width: @desktop) {
      font-size: 21px;
    }
  }

  &_first:hover,
  &_first:focus {
    color: @color-fourth;
    background-color: @color-second;
  }

  &_first:active {
    color: @color-seventh;
  }

  &_second {
    width: 100%;
    padding: 0 14px;
    text-transform: uppercase;
    color: @color-text-second;
    border: none;
    border-radius: 3px;
    background-color: @color-brand;
    line-height: 30px;
  }

  &_second:hover,
  &_second:focus {
    color: @color-text-second;
    background-color: @color-brand-second;
  }

  &_second:active {
    color: @color-silver-fourth;
  }

  &_second:disabled {
    cursor: auto;
    pointer-events: none;
    background-color: @color-silver-second;
  }

  &_third {
    color: @color-black-first;
    border: 3px solid @color-black-first;
    background-color: transparent;
  }

  &_third:hover,
  &_third:focus {
    color: @color-black-second;
    border: 3px solid @color-black-second;
    background-color: transparent;
  }

  &_third:active {
    color: @color-silver-fourth;
    border: 3px solid transparent;
    background-color: @color-black-second;
  }

  &_size_l {
    line-height: 50px;
  }

  &_size_xl {
    line-height: 64px;

    @media (min-width: @tablet) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &_w100 {
    @media (min-width: @desktop) {
      max-width: none;
      width: 100%;
    }
  }
}
