.footer {
  padding: 40px 0;
  text-align: center;

  &_none-mobile {
    display: none;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright span {
  margin-right: 15px;
}
