.form__required {
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @black-blue;
  font-size: 14px;
  line-height: 30px;
}

.form-mark {
  color: @pink;
}
