.pagination {
  display: flex;
  margin-top: 33px;

  align-items: center;
  justify-content: center;

  @media (min-width: @desktop) {
    display: none;
  }

  &_none_table {
    @media (min-width: @tablet) {
      display: none;
    }
  }
}

.pagination__item {
  display: inline-block;
  overflow: hidden;
  width: 6px;
  height: 6px;
  cursor: pointer;
  transition: @transition;
  vertical-align: bottom;
  text-indent: 100%;
  border-radius: 50%;
  background-color: @color-main;

  &:not(.is-active) {
    opacity: 0.3;
  }

  &:not(:last-child) {
    margin-right: 18px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &.is-active {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    pointer-events: none;
    border: 3px solid @color-main;
    background-color: transparent;
  }
}

@media (min-width: @tablet) {
  .pagination {
    width: 100%;

    order: 2;
  }
}
