@color-text: @color-main;
@color-text-second: #ffffff;

@color-main: #283645;
@color-second: #ffffff;
@color-third: rgb(29, 38, 49);
@color-fourth: #d22856;
@color-fifth: #663d15;
@color-sixth: rgba(0, 0, 0, 0.3);
@color-seventh: rgba(210, 40, 86, 0.3);
@color-eighth: #3dc644;
@color-ninth: #f25b26;

@color-silver: #fefefe;
@color-silver-second: #e5e5e5;
@color-silver-third: #f2f2f2;

@color-black: #000000;
@color-black-first: rgba(40, 54, 69, 0.1);

@tablet-width: 660px;

@trasition: all .2s ease-in-out;

@box-shadow-first: 0px 1px 0 0 #000000, inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);

// breakpoints
@desktop: 1600px;
@desktop-small: 1440px;
@tablet-landscape: 1200px;
@tablet: 1024px;
@tablet-small: 768px;
@phone-landscape: 570px;
@phone: 480px;
@phone-small: 320px;
@hamburger: @tablet-landscape;
